.fi-fo-radio-stacked-cards-wrapper .fi-fo-radio-stacked-cards {
  @apply flex flex-col;

  & > .fi-fo-radio-stacked-card {
    @apply flex gap-3 p-4 border border-gray-200 dark:border-gray-800 cursor-pointer transition-all duration-200 ease-in-out;
    margin-top: -1px;

    &:first-child {
      @apply rounded-t-lg;
    }

    &:last-child {
      @apply rounded-b-lg;
    }

    &:only-child {
      @apply rounded-lg;
    }

    &:hover:not(.is-selected) {
      @apply bg-gray-50 dark:bg-white/5 z-10;
    }

    & .fi-fo-radio-card__indicator {
      @apply size-5 mt-1 fill-gray-400 shrink-0 transition-opacity duration-400 ease-in-out;
    }

    & .fi-fo-radio-card__icon {
      @apply size-8 text-gray-400 dark:text-gray-700 shrink-0 mt-1;
    }

    & .fi-fo-radio-card__content {
      @apply grid grow text-sm leading-6;

      & .fi-fo-radio-card__header {
        @apply flex flex-col grow;
      }

      & .fi-fo-radio-card__label {
        @apply overflow-hidden font-medium break-words text-gray-950 dark:text-white;
      }

      & .fi-fo-radio-card__description {
        @apply text-gray-500 dark:text-gray-400;
      }

      & .fi-fo-radio-card__extra {
        @apply font-medium text-gray-900 dark:text-gray-50 mt-2;
      }
    }

    &.is-centered {
      @apply items-center;

      & .fi-fo-radio-card__content {
        @apply flex items-center gap-2;
      }

      & .fi-fo-radio-card__indicator,
      & .fi-fo-radio-card__icon,
      & .fi-fo-radio-card__extra {
        @apply mt-0;
      }
    }

    &.fi-invalid {
      @apply ring-1 ring-red-300 z-10;

      & .fi-fo-radio-card__indicator {
        @apply fill-red-500;
      }
    }

    &.is-selected {
      background-color: color-mix(in oklab, var(--color-primary-500) 10%, transparent);
      --tw-ring-color: var(--color-primary-500);
      @apply ring-2 z-10;

      & .fi-fo-radio-card__indicator {
        fill: var(--color-primary-500);
      }

      & .fi-fo-radio-card__icon {
        color: var(--color-primary-500);
      }
    }
  }
}
